# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test and Lint

on: [push]

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - run: uv sync --group dev
    - name: Test with pytest
      run: |
        uv run coverage run -m pytest
    - name: Log code coverage
      run: |
        uv run coverage report
    - name: Generate code coverage report
      if: ${{ github.event_name == 'pull_request' }}
      run: |
        uv run coverage xml
    - name: Create code coverage comment
      if: ${{ github.event_name == 'pull_request' }}
      uses: orgoro/coverage@v3
      with:
          coverageFile: coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}

  Lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - run: uv sync --group dev
    - name: Lint with ruff
      run: |
        uv run ruff check

  Type-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - run: uv sync --group dev
    - name: Lint with mypy
      run: |
        uv run mypy
